*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display:grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 20em)) 1fr;
}

main{
    grid-column:2/4;
}

/* Header Style */
header h1{
    text-align: center;
    padding: 25px 0 25px 0;
}

header span{
    padding-left: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #F93800;
}

header .fas{
    color: #2F2F2B;
}

/* Styling input section */
.input{ 
    display:flex;
    flex-direction: column;
    padding: 0 3.4em 1.5em 3.4em ;
}

#input_num, #si_unit{
    padding: 5px;
    margin-top: 5px;
    outline: none;
}

.units{
    padding-bottom: 2.5em;
}

/* Styling results section */
.results{
    padding: 0 3.4em 1.2em 3.4em ;
}

.answer{
    text-align: center;
    padding: 10px;
    margin-bottom: .2em;
    border-radius: 4px;
}

.answer h3{
    text-align: left;    
}

.answer span{
    word-wrap: break-word;
}

.grams {
    background-color: #1D8AC0;
}

.kilograms {
    background-color: #F3B11A;
}

.pound {
    background-color: #51e968;
}